{{include('header.html.twig')}} 

{% block stylesheets %}
    <link href="{{ asset('css/admin_css/admin_about.css') }}" rel="stylesheet"/>
{% endblock %}



{% block body %}

<div class="container jumbotron col-md-4 abt">
    <h1>Create new Projects</h1>

    {{ include('admin_projects/_form.html.twig') }}

    <a href="{{ path('projects_index') }}">back to list</a>

</div>

{% endblock %}


{{include('footer.html.twig')}} 