{% block stylesheets %}
<link href="{{ asset('css/foot.css') }}" rel="stylesheet"/>
<link href="{{ asset('https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap')}}" rel="stylesheet">
<link href="{{ asset('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Inconsolata&family=Work+Sans:wght@100&display=swap')}}" rel="stylesheet">
<link href="{{ asset('https://fonts.googleapis.com/css2?family=Itim&display=swap')}}" rel="stylesheet">

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

{% endblock %}



<div class="container-fluid">
    <div class="row" id='foot'>
    
       <div class="col-sm-12 ftt1">
            <a href="{{ asset('https://www.linkedin.com/')}}" target="_blank" class="fa fa-linkedin"></a>
            <a href="{{ asset('https://www.instagram.com/infinite_edge/')}}"  target="_blank" class="fa fa-instagram"></a>
            <a href="{{ asset('https://www.facebook.com/')}}" target="_blank" class="fa fa-facebook"></a>
            <a href="{{ asset('https://twitter.com/?lang=en-gb')}}" target="_blank" class="fa fa-twitter"></a>
        </div>

   

        <div class="col-sm-12 nw">
            <p> Aghogho Blessing Obukohwo <i class='far fa-copyright'></i> <span id="copyR"> 2020 </span> </p>
        </div>

     </div>
    
</div>